.bgImage {
  /* Add the blur effect */
  backdrop-filter: blur(98px);

  /* Full height */
  height: 100%;

  opacity: 0.50;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}